* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#active_1 {
  color: #0481c2 !important;
}

#header {
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  max-width: 1020px;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
#header .logo {
  flex: 0 0 50%;
}
#header nav ul li {
  display: inline-block;
}
#header nav ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #000000;
  font-size: 20px;
  color: #a7a7a7;
}

main {
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: grid;
  grid-template-columns: repeat(2, 230px 770px);
  grid-gap: 10px;
}
main aside {
  border-top: 4px solid #0481c2;
  border-bottom: 4px solid #0481c2;
}
main aside .search-bar {
  margin: 25px 0;
  position: relative;
}
main aside .search-bar input {
  border: none;
  outline: none;
  border: 1px solid #515151;
  height: 27px;
  width: 228px;
}
main aside .search-bar ::placeholder {
  padding: 10px;
  font-size: 12px;
  color: #d2d1d1;
  font-family: "Arial";
}
main aside .search-bar .search-holder {
  position: absolute;
  right: 10px;
  top: 4px;
}
main aside .search-bar .search-holder img {
  object-fit: cover;
  width: 100%;
}
main aside .search-bar .latest {
  border-bottom: 1px solid #404040;
}
main aside .search-bar .latest h4 {
  font-size: 24px;
  color: #0481c2;
  font-weight: lighter;
  margin-top: 20px;
  border-bottom: 1px solid #878787;
  padding-bottom: 5px;
}
main aside .search-bar .latest .latest-sub {
  color: #0481c2;
  font-size: 14px;
  margin: 25px 0 10px 0;
  font-weight: 500;
}
main aside .search-bar .latest .latest-sub-2 {
  font-size: 12px;
  color: #404040;
  text-align: justify;
  margin-bottom: 10px;
}
main aside .search-bar .latest .read {
  margin-bottom: 20px;
}
main aside .search-bar .latest .read a {
  color: #aaaaaa;
  font-size: 12px;
  text-decoration: none;
}
main .main-section {
  border-top: 4px solid #0481c2;
  border-bottom: 4px solid #0481c2;
}
main .main-section .main-holder {
  margin: 25px 0;
  position: relative;
}
main .main-section .main-holder img {
  width: 100%;
  object-fit: cover;
}
main .main-section .main-holder .overlay {
  position: absolute;
  right: 0;
  width: 210px;
  height: 325px;
  opacity: 0.5;
  top: 0;
  background-color: #aaaaaa;
  padding: 40px;
  z-index: 1;
}
main .main-section .main-holder .description {
  position: absolute;
  right: 0;
  top: 60px;
  color: #ffffff;
  z-index: 1;
}
main .main-section .main-holder .description h3 {
  text-align: center;
  opacity: 1;
  margin: 10px 0;
  color: #ffffff;
  font-size: 18px;
}
main .main-section .main-holder .description p {
  font-size: 12px;
  width: 210px;
  padding: 12px;
  text-align: justify;
}
main .main-section .info-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
main .main-section .info-main .info-holder img {
  width: 100%;
  object-fit: cover;
}
main .main-section .info-main .info-holder h4 {
  color: #0481c2;
  font-size: 18px;
  margin: 10px 0;
}
main .main-section .info-main .info-holder p {
  color: #3c3c3c;
  font-size: 13px;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 15px;
}
main .main-section .info-main .info-holder p a {
  color: #0481c2;
}
main .main-section .info-main .info-holder .lik {
  margin: 20px 0;
}
main .main-section .info-main .info-holder .lik a {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 13px;
}

footer {
  padding: 0 15px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
}
footer .icons {
  display: flex;
  margin: 15px 0;
}
footer .icons .icon-image {
  flex: 0 0 75%;
}
footer .icons .copywrite small {
  font-size: 12px;
  color: #404040;
}

/*# sourceMappingURL=style.css.map */
