@import "MaxinFunction";
#footer-content{
    @include container;
    .icons{
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        #sprite{
            li{
                display: inline-block;
                list-style-type: none;
                a{
                    text-decoration: none;
                    padding: 1px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .copywrite{
        small
        {
            font-size: 12px;
            color: $black_dark;
        }
    }
}
// Tablet Responsive
@media screen and (max-width:425px){
    #footer-content{
        .icons{
            display: block;
            #sprite{
                text-align: center;
                li{
                    a{
                        padding-left: 15px;
                    }
                }
            }
            .copywrite{
                text-align: center;
                margin: 10px 0;
                small{
                    font-size: 10px;
                }
            }
        }
    }
}