@import "MaxinFunction";
@import "Variables";
#main-content{
    @include container;
    display: grid;
    grid-template-columns: repeat(2,230px 770px);
    grid-gap: 10px;
    .main-left{
        border-top: 4px solid $active;
        border-bottom: 4px solid $active;
        .search-bar{
            margin: 25px 0;
            position: relative;
            input{
                border: none;
                outline:none;
                border: 1px solid $light_grey;
                height: 27px;
                width: 228px;
            }
            ::placeholder{
                padding: 10px;
                // -moz-padding:10px;
                font-size: 12px;
                color: $smoke;
                font-family: "Arial";
            }
            .search-holder{
                position: absolute;
                right: 10px;
                top: 4px;
                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
            .latest{
                border-bottom: 1px solid $black_dark;
                h4{
                    font-size: 24px;
                    color: $active;
                    font-weight: lighter;
                    margin-top: 20px;
                    border-bottom: 1px solid $bord;
                    padding-bottom: 5px;
                }
                .latest-sub{
                    color: $active;
                    font-size: 14px;
                    margin: 25px 0 10px 0;
                    font-weight: 500;
                }
                .latest-sub-2{
                    font-size: 12px;
                    color: $black_dark;
                    text-align: justify;
                    margin-bottom: 10px;
                }
                .read{
                    margin-bottom:20px;
                    a{
                        color: $smoke_light;
                        font-size: 12px;
                        text-decoration: none;
                        &:hover{
                            color: $black_dark;
                        }
                    }
                }
            }
        }
    }
    .main-section{
        border-top: 4px solid $active;
        border-bottom: 4px solid $active;
        .main-holder{
            margin: 25px 0;
            position: relative;
            img{
                width: 100%;
                object-fit: cover;
            }
            .overlay{
                position:absolute;
                right: 0;
                width: 210px;
                height: 325px;
                opacity: .5;
                top:0;
                background-color: $smoke_light;
                padding: 40px;
            }
            .description{
                position:absolute;
                right: 0;
                top:60px;
                color:$white;
                h3{
                    text-align: center;
                    opacity: 1;
                    margin: 10px 0;
                    color: $white;
                    font-size: 18px;
                }
                p{
                    font-size: 12px;
                    width: 210px;
                    padding: 12px;
                    text-align: justify;
                }
            }
        }
        .info-main{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 20px;
            .info-holder{
                img{
                    width: 100%;
                    object-fit: cover;
                }
                h4{
                    color: $active;
                    font-size: 18px;
                    margin: 10px 0;
                }
                p{
                    color: $black_light;
                    font-size: 13px;
                    text-align: justify;
                    margin-bottom: 10px;
                    line-height: 15px;
                    a{
                        color: $active;
                    }
                }
                .lik{
                    margin: 20px 0;
                    a{
                        text-decoration: none;
                        color: $smoke_light;
                        font-size: 13px;
                        &:hover{
                            color: $black_dark;
                        }
                    }
                }
            }
        }
    }
}
// Tablet Responsive
@media screen and (max-width:750px){
 #main-content{
     display: grid;
     grid-template-columns: repeat(2, 180px 530px);
     .main-left{
         .search-bar{
            input{
                border: none;
                outline:none;
                border: 1px solid $light_grey;
                height: 27px;
                width: 180px;
                }   
                .latest{
                    h4{
                        font-size: 22px;
                    }
                }
            }
        }
        .main-section{
            .main-holder{
                .overlay{
                    height: 225px;
                }
                .description{
                    h3{
                        position: absolute;
                        top: -40px;
                        padding: 10px;
                        font-size: 17px;
                    }
                }
            }
            .info-main{
                .info-holder{
                    h4{
                       font-size: 14px; 
                    }
                    p{
                        font-size: 12px;
                    }
                    .lik{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }   
}
// Mobile Responsive
@media screen and (max-width:425px){
    #main-content{
        display: block;
        .main-left{
            border-bottom: 0px;
            .search-bar{
               input{
                   border: none;
                   outline:none;
                   border: 1px solid $light_grey;
                   height: 27px;
                   width: 100%;
                   }   
                   .latest{
                       h4{
                           font-size: 22px;
                       }
                   }
               }
           }
           .main-section{
               border-top: 0px;
               .main-holder{
                   img{
                       object-fit: cover;
                   }
                   .overlay{
                       width: 100%;
                       height: 100%;
                   }
                   .description{
                       position: absolute;
                       top: 55px;
                       left: 10%;
                       h3{
                           font-size: 17px;
                       }
                       p{
                           width: 300px;
                       }
                   }
               }
               .info-main{
                   display: grid;
                   grid-template-columns: repeat(2,1fr);
                   .info-holder{
                       h4{
                          font-size: 14px; 
                       }
                       p{
                           font-size: 12px;
                       }
                       .lik{
                           a{
                               font-size: 12px;
                           }
                       }
                   }
               }
           }
       }   
   }